<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925055549955-imjs28o1ni9g7ls9hja014aj5stquqn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925055549955-imjs28o1ni9g7ls9hja014aj5stquqn6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>925055549955-943edmqds8suj3isgeqe2gari79q7quc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCeg57ZT7lDFxl7xgL7qmQX77Cg7TQPYVg</string>
	<key>GCM_SENDER_ID</key>
	<string>925055549955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagrampj.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-cceb0</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-cceb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925055549955:ios:74fe73b6d365802e6e0436</string>
</dict>
</plist>